// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #023368;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #191E1D;
$gray: #0E0000;
$light-gray: #F5EFED;
$white: #F5EFED;
$mist: #9197AE;
$black: #0A0A0A
