<h1>Cocktails</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col col-4">
      <div class="cocktail-card">
        <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
        <p><%= cocktail.description %></p>
      </div>
    </div>
  <% end %>
</div>
