<h1>Add an Ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "Add", class: 'btn btn-primary'%>
<% end %>
